<!DOCTYPE html>

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	$theme.include($top_head_include)

<script type="text/javascript">
function showonlyone(thechosenone) {
      var newboxes = document.getElementsByTagName("div");
            for(var x=0; x<newboxes.length; x++) {
                  name = newboxes[x].getAttribute("name");
                  if (name == 'newboxes') {
                        if (newboxes[x].id == thechosenone) {
                        newboxes[x].style.display = 'block';
                  }
                  else {
                        newboxes[x].style.display = 'none';
                  }
            }
      }
}
</script>
	
</head>

<body class="$css_class">

$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end

<div id="wrapper">
	<a href="#main-content" id="skip-to-content">#language("skip-to-content")</a>

	<header id="banner" role="banner">
		<div id="heading">
			<div class="logo_main">
				<h1 class="company-title">
					<a class="$logo_css_class" href="$company_url" title="#language("go-to") $company_name">
						<span>$company_name</span>
					</a>
				</h1>
	
				<h2 class="site-title">
					<a href="$site_default_url" title="#language("go-to") $site_name">
						<span>$site_name</span>
					</a>
				</h2>
	
				<h3 class="page-title">
					<span>$the_title</span>
				</h3>
			</div>
			<div class="header_right">
		#if ($has_navigation || $is_signed_in)
		#parse ("$full_templates_path/navigation.vm")
		#end
			</div>
			<div style="clear:both"></div>
		</div>


<!--
		#if ($has_navigation || $is_signed_in)
		#parse ("$full_templates_path/navigation.vm")
		#end
		-->
	</header>

	<div id="content">

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<footer id="footer" role="contentinfo">
		<div class="footer_wrap">
		<p class="powered-by">
			#language("powered-by") <a href="#" rel="external">Wirelessgeneration</a>
		</p>
		</div>
	</footer>
</div>

$theme.include($body_bottom_include)

</body>

$theme.include($bottom_include)

</html>